@media screen and (max-width: 768px) {

    #error-info {
        width:100%;
    }

}

.error-info {
    border: 1px;
    border-style: double;
    border-color: darkgray;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: #FFCCCC;
    width: 70%;
    padding: 5px;
}

.error-input {
    background-color: #FFCCCC !important;
}

.success-info {
    border: 1px double darkgray;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: #ccf1ff;
    width: 70%;
    padding: 5px;
}