#auth-block {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    #auth-block {
        display: block;
        margin: 10px;
        padding-left: 43px;
    }

    #error-info {
        width:100%;
    }

}

#home-link:link {
    text-decoration: none;
    color:#333;
}

#home-link:visited {
    color:#333;
    text-decoration: none;
}

#home-link:hover {
    color:#333;
    text-decoration: underline;
}

#home-link:active {
    color:#333;
    text-decoration: underline;
}

.info-block {
    border: 1px;
    border-style: double;
    border-color: darkgray;
    border-radius: 4px;
    text-align: center;
}

.error-info {
    border: 1px;
    border-style: double;
    border-color: darkgray;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: #FFCCCC;
    width: 40%;
}

.text-center {
    text-align: center;
}

#reg-redirect:link {
    text-decoration: underline;
    color: #0000EE;
}

#reg-redirect:visited {
    text-decoration: underline;
    color: #0000EE;
}

#reg-redirect:hover {
    text-decoration: underline;
    color: #0000EE;
}

#reg-redirect:active {
    text-decoration: underline;
    color: #0000EE;
}

.success-info {
    border: 1px double darkgray;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: #ccf1ff;
    width: 70%;
    padding: 5px;
}