.padding-top {
    padding-top: 46px;
}

.body-style {
    background-color: beige;
    font-family: Verdana, Arial, sans-serif;
    color: #333;
    font-size: 16px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.inline-flex {
    display: inline-flex;
}
.error-info {
    border: 1px double darkgray;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: #FFCCCC;
    width: 70%;
    padding: 5px;
}

.error-input {
    background-color: #FFCCCC !important;
}

.success-info {
    border: 1px double darkgray;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: #ccf1ff;
    width: 70%;
    padding: 5px;
}

.text-center {
    text-align: center;
}

#login-redirect:link {
    text-decoration: underline;
    color: #0000EE;
}

#login-redirect:visited {
    text-decoration: underline;
    color: #0000EE;
}

#login-redirect:hover {
    text-decoration: underline;
    color: #0000EE;
}

#login-redirect:active {
    text-decoration: underline;
    color: #0000EE;
}
