@media screen and (max-width: 567px){

    label, span, h4, h3 {
        letter-spacing: normal;
    }

    iframe {
        width: 100%;
    }

    #menu-sm {
        margin-left: 5px;
        margin-right: 5px;
    }

}